* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.header {
    text-align: center;
    padding: 10px;
}

#logo {
    width: 120px;
}

.menu {
}

#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    transition: 0.2s; 
    background-color: #25255B;
    color: #eeefff;
}

#burguer:hover {
    cursor: pointer;
    background-color: #eeefff;
    color: #25255B;
}

#lista-menu {
    display: none;
}

#lista-menu a {
    text-decoration: none;
    background-color: #36368d;
    display: block;
    text-align: center;
    border: 2px solid #eeefff;
    padding: 8px;
    color: white;
}

#lista-menu a:hover {
    background-color: #36368ddd;
}

#lista-menu a:active {
    background-color: #25255B;
}

.section {
    background-color: white;
    padding: 5px;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #36368d;
}

.footer {
    background-color: #25255b;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 8px;
}

.footer > div > p {
    color: white;
}

#email, #tel, #endereco {
    font-weight: 600;
}

#email {
    margin-top: 10px;
}

@media screen and (min-width: 768px) { 

    .estrutura {
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 5fr ;
        grid-template-rows: 80px minmax(500px, 1fr) 100px;
        grid-template-areas:
        "header header"
        "menu section"
        "footer footer";
    }

    .header {
        display: flex;
        align-items: center;
        grid-area: header;
    }

    #logo {
        background-color: white;
        display: block;
        margin-left: 30px;

    }

    .menu {
        grid-area: menu;
    }

    #burguer {
        display: none;
    }

    #lista-menu { 
        display: block;
    }

    .section {
        grid-area: section;
    }
    
    .container{
        min-height: 600px;
    }
    
    .footer {
        grid-area: footer;
    }
}