* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* ------- tela login ----------------------------------------- */
.section-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #dcdcfe;
    max-width: 400px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid #25255B;
    font-size: 1.2em;
}

#titulo {
    text-transform: uppercase ;
    letter-spacing: 3px;
    font-size: 2.5em;
}

#login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 250px;
}

#login-form > input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dcdcfe;
}

#login-form > #username {
    margin-bottom: 10px;
}

.container-btn { 
    margin-top: 20px;
    text-align: center;
}

.btn { 
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    background-color: #36368d;
    text-align: center;
    border: none;
    padding: 8px;
    color: white;
    font-size: .9em;
    letter-spacing: 1px;
    font-weight: 500;

}

.btn:hover {
    background-color: #36368ddd;
    cursor: pointer;
}

.btn:active {
    background-color: #25255B;
}

.btn:last-child { 
    margin-left: 40px;
}

#aviso {
    font-size: 0.8em;
    color: red;
    font-weight: 600;
}

.ativo {
    display: block;
}

.inativo {
    display: none;
}

/* ------- tela app ----------------------------------------- */
.estrutura {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
    "header header"
    "menu section"
}

.header {
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    grid-area: header;
}

#logo {
    background-color: white;
    display: block;
    margin-left: 30px;
    width: 120px;
}

menu {
    grid-area: menu;
}

#lista-menu p {
    background-color: #36368d;
    display: block;
    text-align: center;
    border: 2px solid #eeefff;
    padding: 8px;
    color: white;
}

#lista-menu p:hover {
    background-color: #36368ddd;
}

#lista-menu p:active {
    background-color: #25255B;
}

.section {
    background-color: white;
    padding: 5px;
    grid-area: section;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #36368d;
    min-height: 600px;
}

.container .tabela {
    border-collapse: collapse;
    width: 400px;
    border: 2px solid #25255B;
}

.tabela tbody > tr:nth-child(odd) {
    background-color: lightgray;
}

.tabela th {
    padding: 8px;
    border: 1px solid black;
}

.tabela td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}